@model PiniT.ViewModels.IndexRestaurantsVM

@{
    ViewBag.Title = "CustomerIndex";
}

<h2 class="h2">Are you hungry?</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Restaurant.CompanyName)
        </th>
    </tr>

@foreach (var restaurant in Model.Restaurants) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => restaurant.CompanyName)
        </td>
        <td>
            @Html.ActionLink("Book Now!", "CustomerIndex","Tables", new { id=restaurant.RestaurantId },new { @class="btn btn-danger"}) |
            @Html.ActionLink("Menu", "CustomerIndex","Products", new { id=restaurant.RestaurantId },new { @class="btn btn-primary" })
        </td>
    </tr>
}

</table>
