@{
    ViewBag.Title = "How it works";
}


<style>
    body {
      
        background-image: url('../../Content/Images/background.jpg');
        background-size:cover;
    }
</style>

<div class="homeboxa">
    <h1>How it works...</h1>
</div>

<div class="aboutimage">
    

    <div class="row">

        <div class="col-md-4">
            <div class="circle">
                <p>
                    1. Register
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="circle">
                <p>2. Add Payment Method</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="circle">
                <p>3.Search Restaurant</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="circle">
                <p>
                    4. Check The Menu
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="circle">
                <p>5. Pick Restaurant</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="circle">
                <p>6.Book Table</p>
            </div>
        </div>
    </div>
</div>