@{
    ViewBag.Title = "Contact";
}

    <style>
        body {
         
            background-image: url('../../Content/Images/background.jpg');
            background-size:cover;
            background-attachment:fixed;
        }
    </style>

    <div class="homeboxaa col-md-3">
        <h1>Contact us...</h1>
    </div>

    <div class="row">
        <div class="homeboxc col-md-12">
            <div class="row">
                <address class="cold-m-4 text-center mx-auto">
                    One Microsoft Way<br />
                    Redmond, WA 98052-6399<br />
                    <abbr title="Phone">P:</abbr>
                    425.555.0100
                </address>



                <address class="cold-m-4 text-center mx-auto">
                    <strong>Support:</strong>  <a href="mailto:Support@example.com">Support@example.com</a><br />
                    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
                </address>

                <address class="cold-m-4 text-center mx-auto">
                    <strong>Join us:</strong><br />
                    <div>
                        <a href="https://el-gr.facebook.com/"><img src="~/Content/Images/fb.png" style="width:30px"></a>
                        <a href="https://www.instagram.com/?hl=el"><img src="~/Content/Images/insta.png" style="width:30px"></a>
                        <a href="https://gr.pinterest.com/"><img src="~/Content/Images/pin.png" style="width:30px"></a>
                        <a href="https://www.youtube.com/"><img src="~/Content/Images/yt.png" style="width:30px"></a>
                    </div>
                </address>

            </div>
        </div>
        </div>







