@model PiniT.ViewModels.HomeIndexVM

@{
    ViewBag.Title = "Home Page";
}

<style>
    body {
        background-image: url('../../Content/Images/background.jpg');
        background-size:cover;
        background-attachment:fixed;
    }

</style>

    <div class="homeimage">
        <p class="homeimagetxt text-right mr-2">Find the coolest Restaurants! <br> Make nice and easy Reservations! <br />Fill your belly with delicious food! </p>
    </div>

    <div class="homeboxa">
        <p>Collaborating with... and More!</p>
    </div>
    <div class="homebox">
        <div class="row mx-auto text-center">
            
            @foreach (var item in Model.Restaurants.Take(3))
            {
            <div class="col-md-4">
                <h5>
                    @item.CompanyName
                </h5>
                @if (item.Images.FirstOrDefault(x => x.isProfileImage) == null)
                {
                    <img class="roundimage" src="~/Content/images/labellamafia.jpg" />
                }
                else
                {
                    <img class="roundimage" src="@item.Images.FirstOrDefault(x=>x.isProfileImage).ImagePath" alt="@item.Images.FirstOrDefault(x=>x.isProfileImage).Title" />

                }
            </div>
            }
        </div>     
    </div>
    <div class="homeboxa">
        <div class="row">
            <h2 class="ml-4">Are you hungry for...</h2>
        </div>
    </div>

    <div id="animate-area" class="homeboxb">
      
       
        @*<div class="row text-center mx-auto">
            <div class="col-md-4">
                <h5>
                    Pizza
                </h5>
                <img class="roundimages" src="~/Content/images/pizza.jpg" />
            </div>
            <div class="col-md-4">
                <h5>Burger</h5>
                <img class="roundimages" src="~/Content/images/burger.jpg" />
            </div>
            <div class="col-md-4">
                <h5>Grill</h5>
                <img class="roundimages" src="~/Content/images/gril.jpg" />
            </div>
            <div class="col-md-4">
                <h5>
                    pasta
                </h5>
                <img class="roundimages" src="~/Content/images/pasta.jpg" />
            </div>
            <div class="col-md-4">
                <h5>Seafood</h5>
                <img class="roundimages" src="~/Content/images/seafood.jpg" />
            </div>
            <div class="col-md-4">
                <h5>Sushi</h5>
                <img class="roundimages" src="~/Content/images/sushi.jpg" />
            </div>
        </div>*@
    </div>