@model PiniT.ViewModels.HomeIndexVM

@{
    ViewBag.Title = "Home Page";
}

<style>
    body {
        background-image: url('../../Content/Images/background.jpg');
        background-size:cover;
        background-attachment:fixed;
    }
    .card {
    position: relative;
    width: 700px;
    height: 400px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
    *,*::before,*::after {
    box-sizing: border-box;
}
    .card::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        z-index: 900;
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(140, 22, 115, 0.2);
    }
.card_part {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: translateX( 700px );
    background-image: url('Images/bannerafi.jpg');
    /*background-image: url('Images/labellamafia.jpg');*/
    animation: opaqTransition 28s cubic-bezier(0, 0, 0, 0.97) infinite;
}
</style>

    <div class="homeimage">
        <p class="homeimagetxt text-right mr-2">Find the coolest Restaurants! <br> Make nice and easy Reservations! <br />Fill your belly with delicious food! </p>
    </div>

    <div class="homeboxa">
        <p>Collaborating with... and More!</p>
    </div>
    <div class="homebox">
        <div class="row mx-auto text-center">
            
            @foreach (var item in Model.Restaurants.Take(3))
            {
            <div class="col-md-4">
                <h5>
                    @item.CompanyName
                </h5>
                @if (item.Images.FirstOrDefault(x => x.isProfileImage) == null)
                {
                    <img class="roundimage" src="~/Content/images/labellamafia.jpg" />
                }
                else
                {
                    <img class="roundimage" src="@item.Images.FirstOrDefault(x=>x.isProfileImage).ImagePath" alt="@item.Images.FirstOrDefault(x=>x.isProfileImage).Title" />

                }
            </div>
            }
        </div>     
    </div>
    <div class="homeboxa">
        <div class="row">
            <h2 class="ml-4">Are you hungry for...</h2>
        </div>
    </div>


    <div id="" class="homeboxb">
        <div class="row text-center mx-auto">
            <div class="col-md-12">
                <div class="card">


                    <div id="">

                    </div>

                    <!-- Photo 2 -->
                    @*<div class="card_part card_part-two">


                    </div>*@
                </div>
                <!-- <marquee behavior="scroll" direction="right">
                <img src="~/content/images/bannera.jpg" width="600" height="100" />
            </marquee> -->



            </div>
        </div>
    </div>

    @*<div id="animate-area" class="homeboxb">
      
        
    </div>*@