@model IEnumerable<PiniT.Models.Image>

<style>
    .container {
        position: relative;
        width: 50%;
    }

    body {
        background-image: url("/Content/Images/background.jpg");
        background-size: cover;
        background-attachment: fixed;
    }
</style>

<h2 class="a text-center mx-auto mt-4 mb-4 font-weight-bold text-white">Set Profile Image</h2>
<hr />
<div class="row border border-info bg-light">
    @foreach (var img in Model)

    {
        <div class="container">
            <img id="@img.ImageId" class="rest-img" src="@Url.Content(img.ImagePath)" alt="@img.Title" onclick="myFunction()" style="width:100%">
            <div class="middle">
                <div class="text">Set Profile Image</div>
            </div>
        </div>
    }
</div>

@section scripts{
    <script>
        $(document).ready(() => {

            $('.rest-img').on('click', (e) => {

                fetch(`/Images/SetProfileImage/${e.currentTarget.id}`, { method: 'POST' })
                    .then(response => response.json())
                    .then(json => {
                        console.log(json);
                        if (json) {
                            window.location.href = '/Restaurants/ManagerIndex';
                        }
                    })
            });
        });
    </script>
    <script>
        function myFunction() {
            alert("Image is set!");
        }
    </script>
}