@model PiniT.Models.IndexViewModel
@{
    ViewBag.Title = "Manage Your Account";
}
    <style>
        body {
            background-image: url('../../Content/Images/background.jpg');
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
    <h2 class="a text-white text-center mx-auto font-weight-bold mt-2">@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4 class="a text-white text-center mx-auto font-weight-bold mt-2">Change your account settings</h4>
    <hr />
    <dl class="container col-md-6 bg-light shadow-lg mx-auto text-center">
        <dd>
            
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword",null, new { @class="btn btn-success mx-auto my-2"})
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
                
        </dd>
        </dl>
</div>
